:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid black;*/
    
}

body {
    background-color: var(--light-gray);
}

#flex-container {
    display: flex;
    height: calc(100vh - 20px);
    
}

#container {
    width: 340px;
    height: 520px;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 0 10px 30px hsl(207, 20%, 79%);
}

#qrCode {
    width: 310px;
    border-radius: 15px;
}

#text-container {
    margin: 10px auto 0 auto;
    width: 265px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 150px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

h1 {
    font-size: 22px;
    color: var(--dark-blue);
}

h2 {
    font-size: 15px;
    font-weight: 400;
    color: var(--grayish-blue);
}